<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Coverage Analysis</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="css/site.css"/>

</head>
<body>
<table>
    <tr>
        <td>run</td>
        <td>package</td>
        <td>lines</td>
        <td>lines covered</td>
        <td>lines missed</td>
        <td>coverage avg %</td>
        <td>crap</td>
        <td>complexity</td>
    </tr>
    <tr th:each="coverage: ${coverages}">
        <td th:text="${coverage.coverageRunName}">Run</td>
        <td th:text="${coverage.packageName}">Package</td>
        <td th:text="${coverage.linesum}">Lines</td>
        <td th:text="${coverage.linescoveredsum}">Lines covered</td>
        <td th:text="${coverage.linesmissedsum}">Lines missed</td>
        <td th:text="${coverage.covavgpercent}">Coverage Avg%</td>
        <td th:text="${coverage.crapsum}">CRAP</td>
        <td th:text="${coverage.compsum}">complexity</td>
    </tr>
</table>
</body>
</html>